In [1]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.1'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

/bin/bash: apt-get: command not found
/bin/bash: apt-get: command not found
/bin/bash: wget: command not found
tar: Error opening archive: Failed to open 'spark-3.0.1-bin-hadoop2.7.tgz'

ModuleNotFoundError: No module named 'findspark'

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

/bin/bash: wget: command not found

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

## Load Amazon Data into Spark DataFrame

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Video_Games_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Video_Games_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

ModuleNotFoundError: No module named 'pyspark'

In [5]:
df.dtypes

NameError: name 'df' is not defined

In [6]:
# Change the datatypes of following columns:
#  customer_id, product_parent, star_rating, helpful_votes, total_votes
from pyspark.sql.types import IntegerType
# Review DataFrame

# df = df.withColumn("customer_id", df["customer_id"].cast(IntegerType()))
# df = df.withColumn("product_parent", df["product_parent"].cast(IntegerType()))
# df = df.withColumn("star_rating", df["star_rating"].cast(IntegerType()))
# df = df.withColumn("helpful_votes", df["helpful_votes"].cast(IntegerType()))
# df = df.withColumn("total_votes", df["total_votes"].cast(IntegerType()))

ModuleNotFoundError: No module named 'pyspark'

In [7]:
from pyspark.sql.functions import to_date
# Review DataFrame
review_id_df = df.select(["review_id", "customer_id", "product_id", "product_parent", to_date("review_date", 'yyyy-MM-dd').alias("review_date")])
review_id_df.show()

ModuleNotFoundError: No module named 'pyspark'

In [8]:
review_id_df.dtypes

NameError: name 'review_id_df' is not defined

In [9]:
products_df = df.select(["product_id", "product_title"])
products_df.show()

NameError: name 'df' is not defined

In [10]:
# products_df.count()

In [11]:
products_df = df.select(["product_id", "product_title"]).drop_duplicates()
products_df.show()

NameError: name 'df' is not defined

In [12]:
products_df.dtypes

NameError: name 'products_df' is not defined

In [13]:
# products_df_2.count()

In [14]:
customers_df = df.groupby("customer_id").agg({"customer_id": "count"}).withColumnRenamed("count(customer_id)", "customer_count")
customers_df.show()

NameError: name 'df' is not defined

In [15]:
customers_df.dtypes

NameError: name 'customers_df' is not defined

In [16]:
# customers_df_2 = df.groupby("customer_id").agg({"customer_id": "count"})
# customers_df_2.show()

In [17]:
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", 'verified_purchase'])
vine_df.show()

NameError: name 'df' is not defined

In [18]:
vine_df.dtypes

NameError: name 'vine_df' is not defined

In [19]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://<endpoint>:5432/<database name>"
config = {"user":"postgres", 
          "password": "<password>", 
          "driver":"org.postgresql.Driver"}

In [20]:
# short_review = review_id_df.limit(50)

In [21]:
# Write review_id_df to the table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

NameError: name 'review_id_df' is not defined

In [22]:
# Write products_df to the table in RDS
products_df.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

NameError: name 'products_df' is not defined

In [23]:
# Write customers_df to the table in RDS
customers_df.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

NameError: name 'customers_df' is not defined

In [24]:
# Write vine_df to the table in RDS
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)

NameError: name 'vine_df' is not defined